---
import Layout from "../../layouts/layout.astro";
if (Astro.locals.user) return Astro.redirect("/");
---

<Layout title="Log in - AstroFilms">
    <h1>Log in</h1>
    <form method="post" action="/api/auth/login">
        <label for="username">Username</label>
        <input name="username" id="username" /><br />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" /><br />
        <button type="submit">Continue</button>
        <p id="form-error"></p>
    </form>
    <a href="/signup">Create an account</a>
</Layout>

<script>
	const errorMessageElement = document.getElementById("form-error")!;

	document.forms[0].addEventListener("submit", async (e) => {
		e.preventDefault();
		errorMessageElement.innerText = "";
		const formElement = e.target as HTMLFormElement;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement)
		});
		if (response.ok) {
			window.location.href = "/";
		} else {
			errorMessageElement.innerText = (await response.json()).error;
		}
	});
</script>
