---
import Layout from "../layouts/layout.astro";
---

<style>
	h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
		color: hsl(224, 100%, 85%);
    }

	p{
		color: #C1C3C8;
	}


	section{
		color: #fff;
		text-align: center;
	}

	img {
		padding: 2%;
		width: 15rem;
	}
</style>

<Layout title="AstroFilms">
	<section>
		<h1>Welcome to AstroFilms</h1>
		<p>
			AstroFilms is a site to discover series, rate and comment them, and give recommendations to your friends.
		</p><br/>
		<img src="/tv.png" alt="tv"/>
	</section>
</Layout>
