---
const { user }: any = Astro.locals;
---

<style scoped>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #333;
        color: white;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }

    .nav-links button {
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 15px;
    }

    .nav-links a:hover, .nav-links button:hover {
        text-decoration: underline;
    }

    .nav-links p {
        margin: 0;
    }

    .nav-links a, .nav-links button, .nav-links p {
        padding: 0.6rem 0.6rem;
    }
</style>

<nav>
    <div class="nav-links content">
        <a href="/">Home</a>
        <a href="/catalog">Catalog</a>
    </div>
    <div class="nav-links auth">
        {user ? [
            <p>Welcome, {user.username}</p>,
            <form method="post" action="/api/auth/logout">
                <button type="submit">Logout</button>
            </form>
        ] : [
            <a href="/login">Login</a>,
            <a href="/signup">Register</a>
        ]}
    </div>
</nav>
