---
const { user }: any = Astro.locals;
---

<style scoped>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: hsl(224, 14%, 16%);
        color: #B3C7FF;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    .nav-links a, .nav-links button {
        color: #B3C7FF;
        text-decoration: none;
        font-weight: 600;
        transition: ease 0.2s;
        padding: 50px 50px;
        border-radius: 2px;
        background-color: transparent;
        border: none;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }

    .nav-links a:hover, .nav-links button:hover {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        scale: 1.05;
    }

    .nav-links p {
        margin: 0;
    }

    .nav-links a, .nav-links button, .nav-links p {
        padding: 0.6rem 0.6rem;
    }
</style>

<nav>
    <div class="nav-links content">
        <a href="/">Home</a>
        <a href="/catalog">Catalog</a>
    </div>
    <div class="nav-links auth">
        {user ? [
            <p>Welcome, {user.username}</p>,
            <form method="post" action="/api/auth/logout">
                <button type="submit">Logout</button>
            </form>
        ] : [
            <a href="/auth/login">Login</a>,
            <a href="/auth/signup">Register</a>
        ]}
    </div>
</nav>
